*
{
	box-sizing: border-box;
}

body
{
	font: 16px Arial;
}

a
{
	cursor: pointer;
}

input,
select
{
	border: 1px solid #D4D4D4;
	background-color: #F1F1F1;
	padding: 10px;
	font-size: 16px;
}

input
{
	border: 1px solid transparent;
}

input[type=text]
{
	border-color: #D4D4D4;
	background-color: #F1F1F1;
}

input[type=submit]
{
	background-color: #CC0000;
	border: 1px solid #D4D4D4;
	color: #FFFFFF;
	cursor: pointer;
}

input[type=text]:disabled::placeholder
{
	text-decoration: line-through;
}

