#authorities
{
	padding: 3px;
	background: #EEEECC;
	border: 1px solid black;
	cursor: default;
}

/*#mostRelevantAuthority:hover,
#mostRelevantAuthorities:hover
{
	background: #CCCCCC;
}*/

.authority
{
	border-bottom: 1px solid black;
}

.authority:hover
{
	background: #EEEE88;
}

.authority a,
.authorities a
{
	cursor: pointer;
}

#displaySupplAuthorities,
#hideSupplAuthorities
{
	color: #000000;
	font-weight: bold;
	background: #EEEE55;
}
