.facet,
.selectedFacet
{
	cursor: pointer;
}

.facets
{
	background: #FFF0D0;
}

.facet:hover
{
	background: #FFD080;
}

.selectedFacet
{
	margin: 5px;
	margin-right:0px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	line-height: 22px;
	border: 1px solid #FFC070;
	border-radius: 12px;
	background-color: #FFC070;
}

.selectedFacet:hover
{
	background-color: #FFD080;
	text-decoration: line-through;
	color: #555555;
}

#facetsFlex
{
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-direction: column;
}

#facetsFlex #disponibilite
{
	WebkitOrder: 1;
	order: 1;
}

#facetsFlex #type
{
	WebkitOrder: 2;
	order: 2;
}

#facetsFlex #creator
{
	WebkitOrder: 3;
	order: 3;
}

#facetsFlex #date_publishing
{
	WebkitOrder: 4;
	order: 4;
}

#facetsFlex #language
{
	WebkitOrder: 5;
	order: 5;
}

#facetsFlex #subject
{
	WebkitOrder: 6;
	order: 6;
}

#facetsFlex #genre_litteraire
{
	WebkitOrder: 7;
	order: 7;
}

#facetsFlex #genre_film
{
	WebkitOrder: 8;
	order: 8;
}

#facetsFlex #genre_musical
{
	WebkitOrder: 9;
	order: 9;
}

#facetsFlex #configuration_name
{
	WebkitOrder: 10;
	order: 10;
}

#facetsFlex #secteur
{
	WebkitOrder: 11;
	order: 11;
}

#facetsFlex #material_support
{
	WebkitOrder: 12;
	order: 12;
}

#facetsFlex #audience
{
	WebkitOrder: 13;
	order: 13;
}
