.facet,
.selectedFacet
{
	cursor: pointer;
}

.facet:hover
{
	background: #CCCCCC;
}

.selectedFacet
{
	margin: 5px;
	margin-right:0px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	line-height: 22px;
	border: 1px solid #FFC070;
	border-radius: 12px;
	background-color: #FFC070;
}

.selectedFacet:hover
{
	background-color: #FFE090;
	text-decoration: line-through;
	color: #555555;
}

