.pageMid
{
	padding-bottom: 6em;
}

.highlight
{
	background-color: #CCCCCC;
}

button
{
	padding: 1px;
}

button.danger
{
	background: #ff0000;
	background-image: -webkit-linear-gradient(top, #FF0000, #BA0000);
	background-image: -moz-linear-gradient(top, #FF0000, #BA0000);
	background-image: -ms-linear-gradient(top, #FF0000, #BA0000);
	background-image: -o-linear-gradient(top, #FF0000, #BA0000);
	background-image: linear-gradient(to bottom, #FF0000, #BA0000);
	border-color: #D43F3A;
}

button.danger:hover
{
	border-color: #8C2A26;
}

.suggestions
{
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid black;
}
