#pagination .pageSelector,
#pagination .rowsSelector
{
	float: none !important;
}

#notices .pageSelector,
#notices-online .pageSelector,
#notices .rowsSelector,
#notices-online .rowsSelector
{
	display: none;
}

a.notice-link,
a.notice-online-link
{
	display: block;
	text-decoration: none;
	color: inherit;
}

.notice, .notice-online
{
	display: block;
	border-bottom : 1px solid black;
}

.notice .auteurs,
.notice-online .auteurs,
.notice .auteurscompositeursinterpretes,
.notice-online .auteurscompositeursinterpretes,
.notice .realisateurs,
.notice-online .realisateurs,
.notice .editeurs,
.notice-online .editeurs
{
	font : 12px Arial;
}

.notice .permalinks a,
.notice-online .permalinks a,
{
	font : 14px Arial;
}

.notice .dates,
.notice-online .dates
{
	font : 12px Arial;
	margin-left: 5px;
}

.notice .editeurs,
.notice-online .editeurs
{
	margin-top: 7px;
}

#result-lists
{
	display: grid;
	grid-auto-columns: 50%;
}

#notices
{
	background: #EEEEFF;
}

#notices .notice,
#notices-online .notice-online
{
	padding: 5px;
}

#notices .notice:hover
{
	background: #CCCCDD;
}

#notices-online
{
	background: #EEFFEE;
}

#notices-online .notice-online:hover
{
	background: #BBFFBB;
}

#notices .pageButton
{
	background-color: rgba(150, 150, 255, 0.6);
}

#notices .clickablePageButton:hover
{
	background-color: rgba(150, 150, 255, 1);
}

#notices-online .pageButton
{
	background-color: rgba(150, 255, 150, 0.6);
}

#notices-online .clickablePageButton:hover
{
	background-color: rgba(150, 255, 150, 1);
}

#notices #notices-rows,
#notices-online #notices-online-rows
{
	font: 16px Arial;
}

.format
{
	font-size: small;
}

.exemplaire-name
{
	float: left;
	margin-right: 5px;
	font : 14px Arial;
	text-decoration: underline;
}

.exemplaire-desc
{
	overflow-x:hidden;;
}

.exemplaire,
.lien
{
	margin: 5px;
	border: 1px solid black;
	font : 13px Arial;
}

.titres .analytiques,
.configurationOrigin
{
	font-size: small;
}

.availability
{
	display: inline-block;
	margin: 3px;
	padding: 3px;
	border: 1px solid grey;
	background-color: #00FF00;
	font-weight: bold;
	text-color: #222222;
}

.help-cursor
{
	cursor: help;
}

.unavailable
{
	background-color: #FF0000;
}
