.autocomplete
{
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}

#loupe,
#advancedSearchButton
{
	width: 41px;
	height: 41px;
	vertical-align: middle;
}

#loupe
{
	background: url("../img/loupe.jpg") no-repeat right;
	background-size: 41px 41px;
}

#advancedSearchButton
{
	background-color: #F1F1F1;
	color: #101010;
	line-height: 12px;
	font-size: 24px;
	font-weight: bold;
}

.autocomplete-items
{
	position: absolute;
	border: 1px solid #D4D4D4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div
{
	padding: 10px;
	cursor: pointer;
	background-color: #FFFFFF;
	border-bottom: 1px solid #D4D4D4;
}

.autocomplete-items div:hover
{
	/*when hovering an item:*/
	background-color: #E9E9E9;
}

.autocomplete-active
{
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #FFFFFF;
}

.pageButton
{
	display: inline-block;
	min-width: 28px;
	height: 28px;
	margin: 1px;
	background-color: rgba(200, 200, 200, 0.6);
	border: 1px solid #A0A0A0;
	text-align: center;
	vertical-align: middle;
	line-height: 28px;
	cursor: default;
}

.clickablePageButton
{
	cursor:pointer;
}

.clickablePageButton:hover
{
	background-color: rgba(200, 200, 200, 1);
}

#parkour
{
	margin-bottom: 10px;
}

#search #parkour a
{
	text-decoration: none;
	color: inherit;
	margin: 2px;
	padding: 3px;
	border: 1px grey solid;
}

#search #parkour a:hover
{
	background: rgb(200, 200, 200);
	border: 1px grey solid;
}

#search #parkour .selected-parkour
{
	border: 1px black solid;
	background: grey;
	color: white;
}

#search #parkour .selected-parkour:hover
{
	border: 1px black solid;
	background: grey;
}

/*******************/
/* Advanced search */
/*******************/
.dd-mask {position: fixed; z-index: 1; left: 0; top: 0; bottom: 0; right: 0; display: none;}
.dd-mask .dd-open {display: block;}

.btn-group
{
	margin-bottom: 5px;
}

.btn
{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.5em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px #DDDDDD solid;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	/*max-width: 500px;
	text-overflow: ellipsis;
	overflow-x: hidden;*/
}

.caret
{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 6px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.multiselect-container
{
	display: none;
	position: absolute;
	list-style-type: none;
	/*margin: 0;
	padding: 0;*/
}

.dropdown-menu
{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
	z-index: 2;

	max-height: 200px;
	overflow: auto;
}

.dropdown-menu > li > div
{
	width: 100%;
	margin: 0;
	padding: 0px;
	color: #333333;
	white-space: nowrap;
	outline: none !important;
}

.dropdown-menu > li > div > label
{
	display: block;
	padding: 3px 20px;
	width: 100%;
	line-height: 1.5;
	max-width: 500px;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.dropdown-menu > li > div :hover
{
	background-color: #CC0000;
	color: white;
	cursor: pointer;
}
