# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On

# Réécriture de index.html vers index.php 
#RewriteRule ^notice\.html$ /notice.php [L]

RewriteRule ^ark:/34201/([a-zA-Z0-9\-]+)$ /notice.php?text=$1 [L]
